#major{
    background-color: beige;
    text-align: center;
}
h1{
    text-align: center;
}
#title{
    font-size: 50px;
}
#chest{
position: relative;
text-align: left;
width: 40%;
left: 10%;

}
h2{
    left: 50%;
    position:relative;
    transform: translate(-50%, 0%);
}